.order-confirm {
  &__heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary);
    padding-block: 1rem;

    &-title {
      margin-bottom: 0.5rem;
    }
  }

  &__price {
    color: #bbb9b9;
  }

  &-total {
    margin-top: 1rem;
  }

  &__link--back:link,
  &__link--back:visited {
    background-color: var(--color-primary);
    color: #1e1e1e;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    margin-block: 1rem;
  }

  &__link--checkout {
    background-color: var(--color-secondary);
    color: var(--color-dark);
    display: block !important;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 0.25rem;
  }

  &__empty-cart {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    color: var(--color-secondary);
  }
}
