@import '../../../index.scss';

.order-confirm {
  &__heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary);
    padding-block: 1rem;

    &-title {
      margin-bottom: 0.5rem;
    }
  }

  &__price {
    color: #bbb9b9;
  }

  &-total {
    margin-top: 1rem;
  }

  &__link--back:link,
  &__link--back:visited {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    color: var(--color-primary);
    border: 1px solid currentColor;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background 250ms, color 250ms ease-in-out;
  }

  &__link--checkout {
    font-size: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    transition: background 250ms ease-in-out;
  }

  &__empty-cart {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    color: var(--color-secondary);
  }

  &__actions {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 2rem auto;
    gap: 1rem;
  }

  @media only screen and (min-width: $bp-tablet) {
    &__actions {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  @media only screen and (min-width: $bp-tablet-large) {
    &__link {
      &--back:hover {
        background-color: var(--color-primary-light);
        color: var(--color-dark);
      }

      &--checkout:hover {
        background-color: var(--color-secondary-light);
      }
    }
  }
}
