@import '../../index.scss';

.menu {
  &__heading {
    text-align: center;
  }

  &__sub-heading {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-secondary);
  }

  &__list-item {
    background-color: var(--color-grey-dark);
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: transform 250ms ease;

    &:hover {
      transform: scale(1.01) translateY(-0.15rem);
    }

    &--heading {
      font-size: 1.2rem;
      font-weight: 400;
    }

    &--price {
      font-size: 1.2rem;
      color: var(--color-grey-light);
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
  }

  @media only screen and (min-width: $bp-tablet-large) {
    &__list {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &__list-item {
      width: 10rem;
      border-radius: 1rem;
      text-align: center;
    }

    &__link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
