.review-item {
  background-color: #313131;
  margin-block: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  display: block;
  color: inherit;
  transition: transform 250ms ease;
  cursor: default;

  &:hover {
    transform: scale(1.02) translateY(-0.25rem);
  }

  &__heading {
    font-size: 1.3rem;
    color: var(--color-primary-light);
  }

  &__username {
    font-weight: 700;
    display: block;
    margin-block: 1rem;
  }

  &__rating {
    font-size: 1.45rem;
    color: var(--color-dark);
    background-color: var(--color-secondary);
    padding: 0.25rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__date {
    color: var(--color-grey-light);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}
