.review-item {
  background-color: #313131;
  margin-block: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
  display: block;
  color: inherit;
  transition: transform 250ms ease;

  &:hover {
    transform: scale(1.02) translateY(-0.25rem);
  }

  &__username {
    font-weight: 700;
    display: block;
    margin-block: 1rem;
  }

  &__rating {
    background-color: var(--color-secondary);
    padding: 0.25rem;
    color: black;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
}
