@import '../../../index.scss';

.mobile-nav {
  position: relative;
  width: clamp(30%, 18.75rem, 90%);
  background-color: var(--color-primary);
  font-size: 1rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding-top: 10rem;
  border-radius: 0 0 1rem 1rem;
  z-index: 10;
  box-shadow: 2px 0 1.25rem rgba(0, 0, 0, 0.25);

  &__btn--logout {
    font-size: 1.2rem;
    border: none;
    background-color: var(--color-secondary);
    display: block;
    width: 100%;
    padding-block: 1rem;
    border-radius: 0.5rem;
    border-bottom: 1px solid rgb(53, 53, 53);
    color: var(--color-dark);
    letter-spacing: 3px;
    cursor: pointer;
  }

  h2 {
    color: var(--color-background);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-inline: 0.5rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-dark);
    margin-inline: auto;
    display: block;
    text-align: center;
    padding-block: 1rem;
    border-radius: 0.5rem;
    user-select: none;
    border-bottom: 1px solid rgb(53, 53, 53);
    letter-spacing: 3px;
  }

  ul {
    list-style: none;
  }

  .auth a {
    background-color: rgba(186, 58, 58, 0.747);
  }

  @media only screen and (min-width: 42.5em) {
    padding-top: 7rem;
  }

  @media only screen and (min-width: $bp-tablet-large) {
    display: none;
  }
}
