@import '../../../index.scss';

.reviews-list {
  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__link {
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }

  &__no-content {
    text-align: center;
    margin-top: 3rem;
  }

  &__select {
    display: flex;
    justify-content: center;
    min-width: 10rem;

    &-box {
      padding-left: 0.5rem;
      width: 100%;
      color: var(--color-primary);
      background-color: var(--color-background);
      border: 1px solid var(--color-primary);
      border-radius: 0.5rem;
      font-size: 1rem;
    }

    &--hidden {
      display: none;
    }
  }
}
