.header-logo {
  max-width: 10rem;
  transform: translateY(-0.75rem);

  &--top {
    animation: fadeIn 1500ms forwards;
  }

  &--bottom {
    margin-top: -0.5rem;
    transform: translateX(-200%);
    animation: slideIn 1500ms forwards;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.25;
    transform: translate(-10%, -25%);
  }

  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }

  80% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
