.order {
  position: relative;
  background-color: var(--color-secondary);
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--color-dark);
  transition: background 250ms ease;

  &-badge {
    position: absolute;
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    top: -40%;
    right: 0.5rem;
    padding: 0.25rem;
    color: var(--color-primary);
    font-size: 0.7rem;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.animate-bump {
  animation: bump 250ms ease;
}

@keyframes bump {
  0% {
    scale: 1;
    transform: translateY(0);
  }

  50% {
    scale: 1.035;
    transform: translateY(-0.25rem);
  }

  80% {
    scale: 1;
    transform: translateY(0);
  }

  90% {
    transform: translateY(-0.15rem);
  }

  10% {
    transform: translateY(0);
  }
}
