@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

:root {
  --color-primary: #9c7b26;
  --color-primary-light: #c29421;
  --color-secondary: #ba3a3a;
  --color-secondary-light: #da4949;
  --color-dark: #1e1e1e;
  --color-background: #1e1e1e;
  --color-grey-dark: #2c2c2c;
  --color-grey-lightest: #bbb;
  --color-grey-light: #918f8b;
  --color-error: #8f1212;
  --color-error-background: #d36262;
}

// Breakpoints
$bp-mobile-small: 21.5em;
$bp-mobile-large: 30em;
$bp-tablet: 42.5em;
$bp-tablet-large: 50em;
$bp-desktop-small: 75em;
$bp-desktop-medium: 93.75em; // 1500px
$bp-desktop-large: 100em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #272727;
  width: 0.75rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 0.25rem;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3rem;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  font-family: inherit;
}

main {
  background: var(--color-background);
  min-height: calc(100vh - 2.5rem);
  width: clamp(60%, 37.5rem, 100%);
  margin-inline: auto;
  padding: 0.75rem;
  padding-top: 10rem;
}

// Utilities

.noSelect {
  -webkit-tap-highlight-color: transparent;
}

// Mixins

@mixin input-regular {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #919191;
  color: #000;
}

@mixin button-primary {
  display: block;
  border: none;
  padding: 0.5rem 2rem;
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem;
  font-size: 1.2rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

@mixin button-secondary {
  display: block;
  border: none;
  padding: 0.5rem 2rem;
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem;
  font-size: 1.2rem;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  cursor: pointer;
}

// Media Queries

@media only screen and (max-width: $bp-mobile-small) {
  html {
    font-size: 85%;
  }
}

@media only screen and (min-width: $bp-tablet) {
  main {
    padding-top: 7.5rem;
  }
}

@media only screen and (min-width: $bp-desktop-small) {
  main {
    padding-top: 10rem;
  }
}
