@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-primary: #9c7b26;
  --color-primary-light: #c29421;
  --color-secondary: #ba3a3a;
  --color-secondary-light: #da4949;
  --color-dark: #1e1e1e;
  --color-background: #1e1e1e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  // min-height: 100vh;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}
/* TEMPORARY   */
main {
  background: var(--color-background);
  min-height: 85vh;
  /* max-width: 87.5em; */
  /* max-width: 95%; */
  margin-inline: auto;
  margin-top: 8rem;
  /* margin-block: 0.5rem; */
  /* border-radius: 1rem; */
  padding: 0.75rem;
}

// Utilities

.noSelect {
  -webkit-tap-highlight-color: transparent;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

@media only screen and (max-width: 21.25em) {
  html {
    font-size: 85%;
  }
}
