@import '../../../index.scss';

.review-detail {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__userName {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__date {
    color: var(--color-grey-light);
  }

  &__rating {
    font-size: 1.45rem;
    color: var(--color-dark);
    // background-color: var(--color-secondary);
    // background: rgb(213, 77, 77);
    // background: linear-gradient(
    //   135deg,
    //   rgba(213, 77, 77, 1) 0%,
    //   rgba(171, 27, 14, 1) 94%
    // );

    background: #c21500; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffc500,
      #c21500
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff9900,
      #c21500
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    padding: 0.25rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    background-color: var(--color-grey-dark);
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__actions {
    display: block;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__link--back {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 15rem;
    text-align: center;
  }

  &__edit {
    // @include button-primary;
    // text-align: center;
    // color: var(--color-dark);
    color: var(--color-dark);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 15rem;
  }
  &__delete {
    // @include button-secondary;
    font-size: inherit;
    color: var(--color-dark);
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 15rem;
  }

  @media only screen and (min-width: $bp-tablet-large) {
    &__edit {
      width: 12rem;
      margin-inline: 0;
    }

    &__delete {
      width: 12rem;
      margin-inline: 0;
    }
  }
}
