@import '../../index.scss';

.auth-form {
  margin-top: 1rem;

  &__label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__input {
    @include input-regular;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    border-bottom: 1px solid currentColor;
    transition: color 250ms, transform 250ms ease;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-primary-light);
    transform: translateY(-2px);
  }

  &__btn {
    @include button-primary;
  }

  @media only screen and (min-width: $bp-tablet-large) {
    &__btn {
      max-width: 30%;
      margin-left: auto;
    }

    &__btn:hover {
      background-color: var(--color-primary-light);
    }
  }
}
