.hamburger * {
  height: 2px;
  width: 2rem;
  background-color: var(--color-primary);
  transition: transform 250ms, background 250ms ease;
}

.hamburger {
  cursor: pointer;
}

.hamburger--top {
  margin-bottom: 0.5rem;
}

.hamburger--bottom {
  margin-top: 0.5rem;
}

.hamburger--active .hamburger--top {
  transform: translateY(0.6rem) rotate(-45deg);
}

.hamburger--active .hamburger--middle {
  transform: scaleX(0);
}

.hamburger--active .hamburger--bottom {
  transform: translateY(-0.6rem) rotate(45deg);
}
